@font-face {
  font-family: "Lexend-Black";
  src: url("../../fonts/Lexend-Black.ttf");
}

@font-face {
  font-family: "Lexend-Bold";
  src: url("../../fonts/Lexend-Bold.ttf");
}

@font-face {
  font-family: "Lexend-Regular";
  src: url("../../fonts/Lexend-Regular.ttf");
}


.pageHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
  }

 
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #55f27f;
    max-height: 10em;
    width: 100%;
  }

  .titulo-cabecalho {
    font-size: 1.2em;
    width: 16em;
    padding: 1em;
    font-family: "Lexend-Bold";
    text-transform: uppercase;
  }

  .imagem-cabecalho {
    width: 12em;
    height: 8em;
  }

  .titulo1 {
    font-size: 2.5em;
    font-family: "Lexend-Bold";
    width: 5em;
    margin: 1em 0em;
    text-transform: uppercase;
  }

  .titulo {
    padding: 1em;
    font-size: 2.5em;
    font-family: "Lexend-Bold";
    width: 5em;
    margin: 1em 0em;
  }

  .subtitulo {
    font-family: "Lexend-Bold";
    padding: 1em;
    font-size: 2em;
    text-transform: uppercase;
  }
  
  .texto {
    word-wrap: break-word;
    width: 25em;
    font-size: 1.5em;
    font-family: "Lexend-Regular";
  }
  
  .elementos-home {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #f0f0f0;
    align-items: center;
  }

  .conteudo1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    align-items: center;
  }

  .conteudo1-textos {
    align-items: center;
    padding: 1em;
    margin: 0em 5em;
  }

  .imagem {
    width: 40em;
    height: 20em;
  }
  
  .conteudo2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding: 10em 0px;
    align-items: center;
    background-color: #1E8BF3;
  }

  .componentes {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .componente {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 2em 5em;
    padding: 1em;
    border-radius: 1.5em;
    height: 18em;
    width: 10em;
    align-items: center;
  }

  .componente-titulo {
    font-family: "Lexend-Bold";
    font-size: 1em;
    margin: 1em 0em;
    text-align: center;

  }

  .componenteimg {
    width: 8em;
    height: 8em;
    margin: 1em 0em;
  }

  .botao {
    width: 8em;
    padding: 0.5em 1em;
    background-color: #1E8BF3;
    color: #fff;
    font-family: "Lexend-Bold";
    text-decoration: none;
    border-radius: 0.5em;
    text-align: center;
    margin: 1em 0em;
    text-transform: capitalize;
  }
  
  .botao:hover {
    background-color: #1772c7;
    cursor: cell;
  }

  .rodape {
    display: flex;
    flex-direction: row;
    background-color: #55f27f;
    width: 100%;
  }

  .bloco {
    padding: 5em 0em;
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
  }


  .titulo-rodape {
    color: #fff;
    font-family: "Lexend-Bold";
    font-size: 18px;
    text-align: center;
    margin-bottom: 10%;
    padding: 1em 1.5em;
  }

  .lista-rodape {
    font-family: "Lexend-Regular";
    font-size: 14px;
    line-height: 2.5em;
    min-width: 75%;
  }

  .midiassociais {
    display: flex;
    flex-direction: row;
    font-family: "Lexend-Regular";
    font-size: 14px;
    padding: 0.5em 1em;
    line-height: 2.5em;
    align-items: center;
    width: 100%;
  }

  .bloco:hover {
    background-color: #3cce63;
  }

 .lista-rodape li {
    list-style-type: none;
  }

  .iconinstagram {
    width: 40px;
    height: 40px;
    margin: 0px 3em 0px 0px;
  }

  .icongmail {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
  }

