@font-face {
  font-family: "Lexend-Black";
  src: url("../../fonts/Lexend-Black.ttf");
}

@font-face {
  font-family: "Lexend-Bold";
  src: url("../../fonts/Lexend-Bold.ttf");
}

@font-face {
  font-family: "Lexend-Regular";
  src: url("../../fonts/Lexend-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
}

.pageHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
  }
  
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #55f27f;
    max-height: 10em;
    width: 100%;
    padding: 2em;
    font-family: "Lexend-Bold";
  }

  .titulo {
    font-size: 2.5em;
    font-family: "Lexend-Bold";
    margin: 1em 0em;
  }
  
  .texto {
    word-wrap: break-word;
    width: 15em;
    font-size: 1.5em;
    font-family: "Lexend-Regular";
  }
  
  .elementos-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
    align-items: center;
  }

  .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    align-items: center;
  }

  .conteudo-textos {
    align-items: center;
    padding: 1em;
  }
  
  
  