@font-face {
    font-family: "Lexend-Black";
    src: url("../../fonts/Lexend-Black.ttf");
  }
  
  @font-face {
    font-family: "Lexend-Bold";
    src: url("../../fonts/Lexend-Bold.ttf");
  }
  
  @font-face {
    font-family: "Lexend-Regular";
    src: url("../../fonts/Lexend-Regular.ttf");
  }

  
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #55f27f;
    max-height: 10em;
    width: 100%;
    padding: 0.5em;
    font-family: "Lexend-Bold";
    position: static;
   }


   .espaco {
    display: flex;
    flex-direction: column;
    font-family: "Lexend-Regular"


   }
   .imagem-cabecalho {
    width: 9em;
    height: 8em;
 }



 .imagem1{
    width: 15em;
 }


 
 .imagem2{
    width: 15em;
    padding-top: 2em;
 }



 


 